- provide(:title, 'Zwoje z Sieci')
- provide(:header_active, 'Zwoje_z_Sieci')
- breadcrumb :web_scrolls

Zbiór ciekawych stron z sieci, które mogą się przydać: 

%ul.no_dot
  %li
    = link_to "L5k wg Morfa", 'http://l5kwm.republika.pl/.' 
    \- Pierwsza poważna strona o L5k, skarbnica widzy i pomysłów oraz moja inspiracja do stworzenia tej strony.
  %li
    = link_to "Seks, Sake i L5k część 1", 'http://polter.pl/Sake-Sex-and-L5R-czesc-1-b11565' 
    i 
    = link_to "Seks, Sake i L5k część 2", 'http://polter.pl/Sake-Sex-and-L5R-czesc-2-b11567' 
    \- Bardzo fajny artykuł o tym, jak to samraj przychodzi do Rokugańskiej dzielnicy, uciech.
  %li
    = link_to "Last Haiku", 'http://lasthaiku.wikidot.com/' 
    \- Zbiór zasad, po angielsku, bodaj ze wszystkich podręczników jakie wyszły.
  %li>
    = link_to "Zbiór Mon klanów i rodzin Rokuganu", 'http://www.tehlorri.com/L5R/L5Rmons.htm' 
    \- Czyli wstęp do heraldyki.
  %li
    = link_to "Kaze no Shiro", 'http://www.kazenoshiro.com/' 
    \- Fanowska strona zawierająca wszystkie opowiadania jakie wyszły do karcianki L5k.
  %li
    = link_to "Jigoku", "http://jikogul5k.wix.com/jigoku#!scenariusz/cyp0" 
    \- Super klimatyczna strona, zawierająca scenariusz do Legendy 5 Kręgów.

Jeśli macie jakieś ciekawe strony dotyczące, L5k które powinny się tu znaleźść, prześlijcie proszę na maila kask666@wp.pl