- @schools.each do |school|
  %h2.middle_text
    %strong
      = school.name
  %p.justify.indent
    = school.desc
  %h4
    %strong
      Premia: 
    +1
    = school.bonus_attr_pl
  %h4
    %strong
      Honor: 
    = school.honor
  %h4
    %strong
      Wyposarzenie:
    = school.outfit
  %h4
    %strong
      Klasa szkoły:
    / join_names_attr_with_comma is defined in legendopedia_helper
    = join_names_attr_with_comma(school.school_classes)
  - if school.special.present?
    %h4
      %strong
        Specjalne:
    = school.special.html_safe
  %h4
    %strong
      Umiejętności:    
  - if school.class == BasicPrimarySchool
    = render partial: 'primary_school_display', locals: { school: school }
  -  elsif school.class == BasicShugenjaSchool
    = render partial: 'shugenja_school_display', locals: { school: school}
  -  elsif school.class == BasicMonkSchool
    = render partial: 'monk_school_display', locals: { school: school }
