- @schools.each do |school|
  %h2.middle_text
    %strong
      = school.name
  %p.justify.indent
    = school.desc
  %h4
    %strong
      Premia: 
    +1
    = school.bonus_attr_pl
  %h4
    %strong
      Honor: 
    = school.honor
  %h4
    %strong
      Wyposarzenie:
    = school.outfit
  %h4
    %strong
      Klasa szkoły:
    / join_names_attr_with_comma is defined in legendopedia_helper
    = join_names_attr_with_comma(school.school_classes, :name)
  - if school.special.present?
    %h4
      %strong
        Specjalne:
    = school.special.html_safe
  %h4
    %strong
      Umiejętności: 
    = render partial: 'school_skills', locals: { skills: school.skill_of_objects }         
  /- if school.school_ranks.count > 1 
  /  = render partial: 'primary_school_display', locals: { school: school }
  /-  else
  /  = render partial: 'one_rank_school_display', locals: { school: school.school_ranks }
