= render partial: 'school_skills', locals: { skills: school.primary_school_skills }
%h4.middle_text
  %strong
    Ranga 1
%p
  %strong
    = "#{school.rank1_name}:"
  = school.rank1_desc
%h4.middle_text
  %strong
    Ranga 2
%p
  %strong
    = "#{school.rank2_name}:"
  = school.rank2_desc
%h4.middle_text
  %strong
    Ranga 3
%p
  %strong
    = "#{school.rank3_name}:"
  = school.rank3_desc
%h4.middle_text
  %strong
    Ranga 4
%p
  %strong
    = "#{school.rank4_name}:"
  = school.rank4_desc  
%h4.middle_text
  %strong
    Ranga 5
%p
  %strong
    = "#{school.rank5_name}:"
  = school.rank5_desc