- school.school_ranks.each_with_index do |rank, index|
  - right_index = index + 1
  %h4.middle_text
    %strong
      = "Ranga #{right_index}"
  %p
    %strong
      = "#{rank.name}:"
    = rank.desc
