%div{class: "legendopedia_object #{@clan.name}_wrapper" }
  %h2.middle_text
    %strong
      = @clan.clan_name
  %p.justify.indent
    = @clan.desc
  %h4
    %strong
      Główne rody to:
  - @families.each do |family| 
    %h3.middle_text
      %strong
        = family.name 
      ( +1 
      = family.bonus_attr_pl 
      )
    %p.justify.indent
      = family.desc
  - @schools.each do |school|
    %h2.middle_text
      %strong
        = school.name
    %h3
      %strong
        Klasa szkoły:
      = school.school_classes.map { |x| x[:name]}.join(', ')
    %h3
      %strong
        Umiejętności:
      - school.primary_school_skills.each do |school_skill|
        %p 
          Nazwa:
          = school_skill.skill.name_pl
        %p 
          Specjalizacja:
          = school_skill.school_emphasis
        %p 
          Wartość:
          = school_skill.value

