%div{class: "legendopedia_object #{@clan.name}_wrapper" }
  %h2.middle_text
    %strong
      = @clan.clan_name
  %p.justify.indent
    = @clan.desc
  %h4
    %strong
      Główne rody to:
  = render partial: 'clan_families', locals: { families: @families }
  = render partial: 'clan_schools', locals: { schools: @schools}

