%div{class: "legendopedia_object #{@clan.name}_wrapper" }
  %h2.middle_text
    %strong
      = @clan.clan_name
  %p.justify.indent
    = @clan.desc
  %h4
    %strong
      Główne rody to:
  - @families.each do |family| 
    %h3.middle_text
      %strong
        = family.name 
      ( +1 
      = family.bonus_attr_pl 
      )
    %p.justify.indent
      = family.desc
  - @schools.each do |school|
    %h2.middle_text
      %strong
        = school.name
    %h3
      %strong
        Klasa szkoły:
      = school.school_classes.map { |x| x[:name]}.join(', ')
      - if school.class == BasicPrimarySchool
        %h3
          %strong
            Umiejętności:
          - school.primary_school_skills.each do |primary_school_skill|
            %p 
              Nazwa:
              = primary_school_skill.skill.name_pl
            %p 
              Specjalizacja:
              = primary_school_skill.school_emphasis
            %p 
              Wartość:
              = primary_school_skill.value
      -  elsif school.class == BasicShugenjaSchool
        %h3
          %strong
            Umiejętności:
          - school.shugenja_school_skills.each do |shugenja_school_skill|
            %p 
              Nazwa:
              = shugenja_school_skill.skill.name_pl
            %p 
              Specjalizacja:
              = shugenja_school_skill.school_emphasis
            %p 
              Wartość:
              = shugenja_school_skill.value 
      -  elsif school.class == BasicMonkSchool
        %h3
          %strong
            Umiejętności:
          - school.monk_school_skills.each do |monk_school_skill|
            %p 
              Nazwa:
              = monk_school_skill.skill.name_pl
            %p 
              Specjalizacja:
              = monk_school_skill.school_emphasis
            %p 
              Wartość:
              = monk_school_skill.value                    

