%ul.no_dot.hide.form_partial.test
  %li
    = render 'character_attributes', f: f
  %li{id: 'character_honour'}
    = render 'character_honour'
  %li{id: 'character_outfit'}
    = render 'character_outfit'
  %li{id: 'school_class'}
    = render 'school_class'
  %li{id: 'character_skills'}
    = render 'character_skills', f: f