%ul.no_dot.form_partial
  %li
    %strong
      %span{ id: 'chosen_family_name'}
      %span{ id: 'chosen_character_name' }        
  %li
    %strong
      Szkoła:
    %span{ id: 'character_chosen_school' }
      = @selected_school.name
  %li
    = render 'character_attributes', f: f
  %li{id: 'character_honour'}
    = render 'character_honour'
  %li{id: 'character_outfit'}
    = render 'character_outfit'
  %li{id: 'school_class'}
    = render 'school_class'
  %li{id: 'character_skills'}
    = render 'character_skills', f: f