= form_for [ current_user, @character], remote: true do |f|
  %ul.no_dot
    %li
      = f.label(:name, 'Imię Postaci:')
      = f.text_field(:name)
    %li{id: 'clan_select'}
      = render 'character_form_clan'
    %li{id: 'family_select'}
      = render 'character_form_families'
    %li{id: 'school_select'}
      = render 'character_form_schools'
    %li
      = f.submit "Dodaj Postać"
