%div{ id: 'character_attributes' }
  %strong
    Atrybuty:
  %ul.no_dot
    %li
      %ul.list-inline.no_dot
        %li
          %ul.no_dot
            %li
              %strong
                Ogień:
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :agility, name_pl: 'Zręczność'}
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :intelligence, name_pl: 'Inteligencja'}
        %li
          %ul.no_dot
            %li
              %strong
                Powietrze:
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :reflexes, name_pl: 'Zręczność'}
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :awareness, name_pl: 'Intuicja'}
    %li
      %ul.list-inline.no_dot
        %li
          %ul.no_dot
            %li
              %strong
                Ziemia:
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :stamina, name_pl: 'Wytrzymałość'}
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :willpower, name_pl: 'Siła Woli'}
        %li
          %ul.no_dot
            %li
              %strong
                Woda:
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :strength, name_pl: 'Siła'}
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :perception, name_pl: 'Percepcja'}
    %li
      %ul.no_dot
        %li
          %ul.list-inline.no_dot
            %li
              = render partial: 'form_attribute', locals: {f: f, attr_symbol: :void, name_pl: 'Pustka'}