!!!
%html
  %head
    %title
      = title_function(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
    %script
      src="http://cookiealert.sruu.pl/CookieAlert-latest.min.js"
    %script
      CookieAlert.init();    
  %body
    = render 'layouts/header'
    = render 'legendopedia/side_panel' if @show_legendopedia_panel
    = render 'characters/exp_points' if @exp_points
    .middle_box
      - flash_messages
      = render 'layouts/gretel'
      = yield :form_errors      
      = yield
    = render 'layouts/footer'

